* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5b134e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #36172d;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  gap: 1.5rem;
}

.header {
  text-align: center;
  color: rgb(208, 206, 245);
  font-size: 1.8rem;
  font-weight: bold;
}

.Display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background-color: #c170af;
  color: white;
  text-align: right;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  overflow-x:auto ;
}

.side {
  display: flex;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 1rem;
  background-color: #c170af;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
}

button {
  background-color: #5861c8;
  border: none;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.95);
}

.del {
  background-color: #221b71;
  color: white;
}

.reset {
  grid-column: span 2;
  background-color: #0e131f;
  color: white;
}

.equal {
  grid-column: span 2;
  background-color: #5b134e;
  color: white;
}
